body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: #333; /* رنگ پس‌زمینه در صورت عدم بارگذاری canvas */
}
/* استایل اصلی canvas که تمام صفحه را می‌پوشاند */
#concreteCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /* پنهان کردن نشانگر پیش‌فرض ماوس */
    cursor: none;
}