@media (max-width: 800px) {
    header {

        flex-direction: column;
        align-items: flex-start;

        padding-bottom: 2rem;

        .container {
            flex-direction: column;

        }

        .title {
            font-size: 2.5rem;
            line-height: 150%;

            margin: 2rem auto;
        }

        nav ul li {
        }

    }

    .languages {
        margin-left: 0;
        text-align: center;

    }

    .bubble {
        display: none !important;
    }

    .container {
        width: 100%;
        padding: 0;
    }

    .container:before,
    .container:after {
        display: none !important;
    }

    .main {
        margin-bottom: 0;

        .article-wrapper {
            padding-top: 10px;
        }
    }

    .main article {
        margin: 16px;
        width: 100%;

        &:before,
        &:after {
            display: none !important;
        }
    }

    .main #comments-container {
        margin: 0 1.5em;
    }

    .main .paginator {
        margin: 1.5em;
        margin-top: 50px;
    }

    footer .container {
        padding: 3em 2em 2em 2em;
        flex-direction: column;
        text-align: center;

        div {
            width: 100%;
            margin: 0 !important;
        }
    }

    .credits .container {
        padding-bottom: 4rem;
        flex-direction: column;
        text-align: center;

        div {
            margin-bottom: 1.5rem;
        }

    }

    #back-to-top-button {
        background-color: #232323;
        bottom: 14px;
        right: 14px;
        font-size: 1.5em;
        line-height: 30px;
        width: 30px;
        height: 30px;
    }

    .highlight {
        div {
            width: 100%;
            overflow: auto;
        }
    }

}
