.rtl {
//direction: rtl;

  font-family: $content-rtl-font;
  article{
    .footer{
      direction: rtl;
    }
    .date {
      .text {
          margin-right: 0.75em;
          margin-left: 0;
      }
    }
    .categories {
      .links {
          margin-right: 0.75em;
          margin-left: 0;
      }
    }
    .tags {
      .links {
        margin-right: 0.75em;
        margin-left: 0;
      }
    }
  }

  header {
    .container {
      flex-direction: row-reverse;
    }

    .title-container {
      align-items: flex-end;
      margin-left: auto;
      margin-right: 0;
    }

    .title {
      margin-left: auto;
      margin-right: 0px;
      font-family: $content-rtl-font;
      direction: rtl;
    }
  }
  .pages,
  .languages {
    ul {
      direction: rtl;
    }
  }

  .content {
    direction: rtl;

    code {
      direction: ltr;
    }
  }

    .navigation {
      display: flex;
      flex-direction: row-reverse;
    }

  @media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: flex-start;

        padding-bottom: 2rem;

        .container {
            flex-direction: column;

        }

        .title {
            font-size: 2.5rem;
            line-height: 150%;

            margin: 2rem auto;
        }

    }
  }
}
