{{ define "main" }}
<main id="main">
    <section class="homepage-tabs-section">
        <div class="tabs-container">
            <div class="tabs-list">
                <ul>
                    {{/* مقالاتی که می‌خوایم توی تب ها نشون بدیم رو فیلتر می‌کنیم */}}
                    {{ $relevantArticles := where .Site.RegularPages "Type" "in" (slice "services") }}
                    {{/* شما می‌توانید اینجا فیلترهای دیگری بر اساس categories یا تعداد داشته باشید */}}
                    {{/* مثال: (where .Site.RegularPages "Section" "services") */}}
                    {{/* یا (where .Site.RegularPages "Params.categories" "intersect" (slice "concrete-cutting" "retrofitting")) */}}


                    {{ range $index, $article := $relevantArticles }}
                    <li class="{{ if eq $index 0 }}active{{ end }}">
                        <a href="#tab-{{ $article.Slug }}">{{ $article.Title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </div>

            <div class="tabs-content">
                {{ range $index, $article := $relevantArticles }}
                <div id="tab-{{ $article.Slug }}" class="tab-pane {{ if eq $index 0 }}active{{ end }}">
                    <h3>{{ $article.Title }}</h3>
                    {{ if $article.Params.featured_image }}
                        <img src="{{ $article.Params.featured_image | relURL }}" alt="{{ $article.Params.image_alt | default $article.Title }}" class="tab-featured-image">
                    {{ end }}
                    <p>{{ $article.Summary }}</p>
                    <a href="{{ $article.Permalink }}" class="read-more-button">مشاهده کامل مقاله</a>
                </div>
                {{ end }}
            </div>
        </div>
    </section>

    {{/* می‌توانید محتوای Markdown از _index.md را اینجا نمایش دهید */}}
    {{ .Content }}

</main>
{{ end }}